<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="banner-pages">
        <div class="container container-wrapper">
            <div class="banner-wrapper">
                <div class="title-wrapper">
                    <h1 class="title">Entre em contato conosco</h1>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html" class="breadcrumb-link">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <span class="breadcrumb-active">Contato</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="banner-btn">
                    <a href="#" class="btn white-color">get in touch</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="main-contact">
        <div class="list-contact-info">
            <h5 class="title">Contact Us now</h5>

            <div class="item">
                <div class="contact-info-box">
                    <div class="contact-info-cell">
                        <div class="wrapper-icons">
                            <i class="icons fa fa-map-marker"></i>
                        </div>
                    </div>
                    <div class="contact-info-cell">
                        <div class="wrapper-info">
                            <p class="text">7100 Athens Place Washington, DC 20521-7100</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="contact-info-box">
                    <div class="contact-info-cell">
                        <div class="wrapper-icons">
                            <i class="icons fa fa-phone"></i>
                        </div>
                    </div>
                    <div class="contact-info-cell">
                        <div class="wrapper-info">
                            <div class="text">Telefones<br/>
                                <a href="tel:27999074577" class="text-bold" style="display:flex;">27 999 074 577</a>
                                <a href="tel:27997045502" class="text-bold" style="display:flex;">27 997 045 502</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item">
                <div class="contact-info-box">
                    <div class="contact-info-cell">
                        <div class="wrapper-icons">
                            <i class="icons fa fa-envelope"></i>
                        </div>
                    </div>
                    <div class="contact-info-cell">
                        <div class="wrapper-info">
                            <a href="mailto:contato@crconstrucoesereformas.com.br" class="text link">contato@crconstrucoesereformas.com.br</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-formulario">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pull-left contact-form-wrapper">
                    <div class="contact-form">
                        <h5 class="contact-title">Formulário de Contato</h5>
                        <form action="http://corpdip.pe.hu/contato/auto_envio.php" class="main-form" method="post">
                            <input type="text" name="Nome" placeholder="Nome" class="form-control" required>
                            <input type="email" name="E-mail" placeholder="E-mail" class="form-control" required>
                            <input type="text" name="Telefone" placeholder="Telefone" class="form-control">
                            <input type="text" name="Assunto" placeholder="Assunto" class="form-control" required>
                            <textarea name="Mensagem" placeholder="Mensagem" class="form-control" required></textarea>

                            <input type="hidden" name="Site" value="http://crconstrucoesereformas.com.br">
                            <input type="hidden" name="email" value="luizaceotto@hotmail.com">

                            <button type="submit" name="Enviar" class="btn white-color">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 contact-form-wrapper">
                    <div class="contact-form">
                        <h5 class="contact-title">Telefones</h5>
                        <a href="tel:27999074577"><div class="contact-text">27 999 074 577 (Cleber)</div></a>
                        <a href="tel:27997045502"><div class="contact-text">27 997 045 502 (Poliana)</div></a>
                    </div>
                    <div class="contact-form">
                        <h5 class="contact-title">E-mail</h5>
                        <a href="mailto:contato@crconstrucoesereformas.com.br"><div class="contact-text">contato@crconstrucoesereformas.com.br</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="text" style="font-weight: normal;"> (Poliana)</div>--