
<!-- MAIN CONTENT-->

<div class="main-content">
    <div class="banner-pages">
        <div class="container container-wrapper">
            <div class="banner-wrapper">
                <div class="title-wrapper">
                    <h1 class="title">Entre em contato conosco</h1>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="?p=index" class="breadcrumb-link">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <span class="breadcrumb-active">Contato</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 main-contact">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12 contact-form-wrapper">
                    <div class="contact-form">
                        <h5 class="contact-title">Formulário de Contato</h5>
                        <form action="http://corpdip.pe.hu/contato/auto_envio.php" class="main-form" method="post">
                            <input type="text" name="Nome" placeholder="Nome" class="form-control" required>
                            <input type="email" name="E-mail" placeholder="E-mail" class="form-control" required>
                            <input type="text" name="Telefone" placeholder="Telefone" class="form-control">
                            <input type="text" name="Assunto" placeholder="Assunto" class="form-control" required>
                            <textarea name="Mensagem" placeholder="Mensagem" class="form-control" required></textarea>

                            <input type="hidden" name="Site" value="http://crconstrucoesereformas.com.br">
                            <input type="hidden" name="email" value="contato@crconstrucoesereformas.com.br">

                            <button type="submit" name="Enviar" class="btn white-color">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 hidden-sm hidden-xs contact-form-wrapper">
                    <div class="contact-form hidden-sm hidden-xs">
                        <h5 class="contact-title">Telefones</h5>
                        <a href="tel:27999074577"><div class="contact-text">27 999 074 577 (Cleber)</div></a>
                        <a href="tel:27997045502"><div class="contact-text">27 997 045 502 (Poliana)</div></a>
                    </div>
                    <div class="contact-form hidden-sm hidden-12">
                        <h5 class="contact-title">E-mail</h5>
                        <a href="mailto:contato@crconstrucoesereformas.com.br"><div class="contact-text">contato@crconstrucoesereformas.com.br</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>