<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="banner-pages banner-about">
        <div class="container container-wrapper">
            <div class="banner-wrapper">
                <div class="title-wrapper">
                    <h1 class="title">Quem Somos</h1>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="?p=index" class="breadcrumb-link">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <span class="breadcrumb-active">Empresa</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <section class="we-are no-bg-img bg-light-blue padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="heading-main">
                        <div class="main-title last-dif">
                            <h5 class="subtitle">CR Construções e Reformas</h5>
                            <h2 class="title">Quem
                                <span class="last">Somos</span>
                            </h2>
                        </div>
                    </div>
                    <div class="block-content">
                        <h4 class="title">Sonhos se tornam realidade</h4>
                        <p class="description">
                           A <strong>CR Construções & Reformas</strong> se destaca por ter uma filosofia de trabalho que tem como prioridade fazer o sonho de nossos clientes se tornar realidade, sempre garantindo a qualidade em suas obras e custos compatíveis, dentro da realidade mercadológica.
                        </p>
                        <p class="description">
                           Nossa empresa utiliza tecnologia e mão de obra altamente qualificada e buscamos sempre otimizar os recursos físicos e financeiros de modo a reduzir o custo final da obra e promover preços mais atrativos aos clientes.
                        </p>
                        
                        <p class="description"><strong>Garantimos a segurança de nossos clientes e equipe nas obras que realizamos!</strong>
                        </p>
                        
                        <p class="description">
                           Atendemos toda a Grande Vitória.
                        </p>                        
                    </div>
                </div>
            </div>
            <img src="img/_empresa/equipe.png" alt="" class="img-full">
        </div>
    </section>
</div>
        