<!-- MAIN CONTENT-->
<div class="main-content">

    <div class="banner-pages banner-gallery-3col">
        <div class="container container-wrapper">
            <div class="banner-wrapper">
                <div class="title-wrapper">
                    <h1 class="title">Galeria de Fotos</h1>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="?p=index" class="breadcrumb-link">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <span class="breadcrumb-active">Galeria</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery-3col padding-bottom-100">
        <div class="container">
            <div class="gallery-image-grid">
                <div class="grid-item tab-1 tab-4 tab-3">
                    <div class="block-image-gallery">
                        <a href="img/_galeria/1.jpeg" data-fancybox-group="gallery-1" class="fancybox-thumb">
                            <img src="img/_galeria/1.jpeg" alt="" class="img-full">
                            <div class="bg-hover-1"></div>
                            <div class="bg-hover-2"></div>
                        </a>
                        <div class="content">
                            <div class="link">CR Construções e Reformas</div>
                            <div class="title">Sala</div>
                        </div>
                    </div>
                </div>
                <div class="grid-item tab-2 tab-3 tab-5">
                    <div class="block-image-gallery">
                        <a href="img/_galeria/2.jpeg" data-fancybox-group="gallery-1" class="fancybox-thumb">
                            <img src="img/_galeria/2.jpeg" alt="" class="img-full">
                            <div class="bg-hover-1"></div>
                            <div class="bg-hover-2"></div>
                        </a>
                        <div class="content">
                            <div class="link">CR Construções e Reformas</div>
                            <div class="title">Sala</div>
                        </div>
                    </div>
                </div>
                <div class="grid-item tab-1 tab-5 tab-3">
                    <div class="block-image-gallery">
                        <a href="img/_galeria/3.jpeg" data-fancybox-group="gallery-1" class="fancybox-thumb">
                            <img src="img/_galeria/3.jpeg" alt="" class="img-full">
                            <div class="bg-hover-1"></div>
                            <div class="bg-hover-2"></div>
                        </a>
                        <div class="content">
                            <div class="link">CR Construções e Reformas</div>
                            <div class="title">Sala de TV</div>
                        </div>
                    </div>
                </div>
                <div class="grid-item tab-1 tab-3 tab-4 tab-2">
                    <div class="block-image-gallery">
                        <a href="img/_galeria/4.jpeg" data-fancybox-group="gallery-1" class="fancybox-thumb">
                            <img src="img/_galeria/4.jpeg" alt="" class="img-full">
                            <div class="bg-hover-1"></div>
                            <div class="bg-hover-2"></div>
                        </a>
                        <div class="content">
                            <div class="link">CR Construções e Reformas</div>
                            <div class="title">Escritório</div>
                        </div>
                    </div>
                </div>
                <div class="grid-item tab-5 tab-2 tab-4">
                    <div class="block-image-gallery">
                        <a href="img/_galeria/5.jpeg" data-fancybox-group="gallery-1" class="fancybox-thumb">
                            <img src="img/_galeria/5.jpeg" alt="" class="img-full">
                            <div class="bg-hover-1"></div>
                            <div class="bg-hover-2"></div>
                        </a>
                        <div class="content">
                            <div class="link">CR Construções e Reformas</div>
                            <div class="title">Cozinha</div>
                        </div>
                    </div>
                </div>
                <div class="grid-item tab-2 tab-3 tab-4 tab-5">
                    <div class="block-image-gallery">
                        <a href="img/_galeria/6.jpg" data-fancybox-group="gallery-1" class="fancybox-thumb">
                            <img src="img/_galeria/6.jpg" alt="" class="img-full">
                            <div class="bg-hover-1"></div>
                            <div class="bg-hover-2"></div>
                        </a>
                        <div class="content">
                            <div class="link">CR Construções e Reformas</div>
                            <div class="title">Reforma de fachada</div>
                        </div>
                    </div>
                </div>
                <div class="grid-item tab-1 tab-3 tab-5">
                    <div class="block-image-gallery">
                        <a href="img/_galeria/7.jpeg" data-fancybox-group="gallery-1" class="fancybox-thumb">
                            <img src="img/_galeria/7.jpeg" alt="" class="img-full">
                            <div class="bg-hover-1"></div>
                            <div class="bg-hover-2"></div>
                        </a>
                        <div class="content">
                            <div class="link">CR Construções e Reformas</div>
                            <div class="title">Reforma de fachada</div>
                        </div>
                    </div>
                </div>
                <div class="grid-item tab-4 tab-3 tab-2">
                    <div class="block-image-gallery">
                        <a href="img/_galeria/8.jpg" data-fancybox-group="gallery-1" class="fancybox-thumb">
                            <img src="img/_galeria/8.jpg" alt="" class="img-full">
                            <div class="bg-hover-1"></div>
                            <div class="bg-hover-2"></div>
                        </a>
                        <div class="content">
                            <div class="link">CR Construções e Reformas</div>
                            <div class="title">Reforma de fachada</div>
                        </div>
                    </div>
                </div>
                <div class="grid-item tab-5 tab-3 tab-1 tab-4">
                    <div class="block-image-gallery">
                        <a href="img/_galeria/9.jpg" data-fancybox-group="gallery-1" class="fancybox-thumb">
                            <img src="img/_galeria/9.jpg" alt="" class="img-full">
                            <div class="bg-hover-1"></div>
                            <div class="bg-hover-2"></div>
                        </a>
                        <div class="content">
                            <div class="link">CR Construções e Reformas</div>
                            <div class="title">Reforma de fachada</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
