<!-- MAIN CONTENT-->
<div class="main-content">
    <section class="homepage-2-banner">
        <div class="container">
            <div class="banner-item-wrapper">
                <div class="banner-item">
                    <h5 class="subtitle">CR CONSTRUÇÕES E REFORMAS</h5>
                    <h1 class="title">Nós construímos seu sonho</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="how-we-work padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="heading-main">
                <div class="main-title">
                    <h5 class="subtitle">CR CONSTRUÇÕES E REFORMAS</h5>
                    <h2 class="title">Nosso modo de trabalho</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 list-block-wrapper">
                    <div class="list-block-icon-1">
                        <div class="item">
                            <div class="block-icon-1">
                                <div class="icon-cell">
                                    <div class="wrapper-icons">
                                        <i class="icons flaticon-bolt"></i>
                                    </div>
                                </div>
                                <div class="icon-cell">
                                    <div class="wrapper-info">
                                        <div class="title">Criação e Renovação</div>
                                        <div class="text">Modificar para melhorar</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-icon-1">
                                <div class="icon-cell">
                                    <div class="wrapper-icons">
                                        <i class="icons flaticon-business"></i>
                                    </div>
                                </div>
                                <div class="icon-cell">
                                    <div class="wrapper-info">
                                        <div class="title">Equipe de trabalho eficaz</div>
                                        <div class="text">Você sonha, nós realizamos </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-icon-1">
                                <div class="icon-cell">
                                    <div class="wrapper-icons">
                                        <i class="icons flaticon-calendar"></i>
                                    </div>
                                </div>
                                <div class="icon-cell">
                                    <div class="wrapper-info">
                                        <div class="title">Ótimo planejamento</div>
                                        <div class="text">Para desenvolver os projetos, primeiro é preciso planejar</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-icon-1">
                                <div class="icon-cell">
                                    <div class="wrapper-icons">
                                        <i class="icons flaticon-shield"></i>
                                    </div>
                                </div>
                                <div class="icon-cell">
                                    <div class="wrapper-info">
                                        <div class="title">Segurança em primeiro lugar</div>
                                        <div class="text">Sempre utilizando os melhores equipamentos de segurança</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="img/team/image-8.png" alt="" class="img-responsive side-img">
            </div>
        </div>
    </section>
    
    <div class="testimonial-homepage-2"></div>
    
    <section class="image-gallery padding-top-100 padding-bottom-100 bg-light-blue">
        <div class="container">
            <div class="heading-main">
                <div class="header-left">
                    <div class="main-title">
                        <h5 class="subtitle">CR CONSTRUÇÕES E REFORMAS</h5>
                        <h2 class="title">Projetos em destaque</h2>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" role="tabpanel" class="tab-pane fade in active">
                <div class="list-image-gallery">
                    <div class="item">
                        <div class="block-image-gallery">
                            <img src="img/_galeria/1.jpeg" alt="" class="img-full">
                            <span class="bg-hover"></span>
                            <div class="content">
                                <div class="link">CR Construções e Reformas</div>
                                <div class="title">Sala</div>
                            </div>
                            <a href="?p=galeria" class="readmore-icons">
                                <i class="icons flaticon-bleed"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-image-gallery">
                            <img src="img/_galeria/2.jpeg" alt="" class="img-full"/>
                            <span class="bg-hover"></span>
                            <div class="content">
                                <div class="link">CR Construções e Reformas</div>
                                <div class="title">Sala</div>
                            </div>
                            <a href="?p=galeria" class="readmore-icons">
                                <i class="icons flaticon-bleed"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-image-gallery">
                            <img src="img/_galeria/3.jpeg" alt="" class="img-full">
                            <span class="bg-hover"></span>
                            <div class="content">
                                <div class="link">CR Construções e Reformas</div>
                                <div class="title">Sala de TV</div>
                            </div>
                            <a href="?p=galeria" class="readmore-icons">
                                <i class="icons flaticon-bleed"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-image-gallery">
                            <img src="img/_galeria/4.jpeg" alt="" class="img-full">
                            <span class="bg-hover"></span>
                            <div class="content">
                                <div class="link">CR Construções e Reformas</div>
                                <div class="title">Escritório</div>
                            </div>
                            <a href="?p=galeria" class="readmore-icons">
                                <i class="icons flaticon-bleed"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-image-gallery">
                            <img src="img/_galeria/5.jpeg" alt="" class="img-full"/>
                            <span class="bg-hover"></span>
                            <div class="content">
                                <div class="link">CR Construções e Reformas</div>
                                <div class="title">Cozinha</div>
                            </div>
                            <a href="?p=galeria" class="readmore-icons">
                                <i class="icons flaticon-bleed"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-image-gallery">
                            <img src="img/_galeria/6.jpg" alt="" class="img-full">
                            <span class="bg-hover"></span>
                            <div class="content">
                                <div class="link">CR Construções e Reformas</div>
                                <div class="title">Reforma de fachada</div>
                            </div>
                            <a href="?p=galeria" class="readmore-icons">
                                <i class="icons flaticon-bleed"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-image-gallery">
                            <img src="img/_galeria/7.jpeg" alt="" class="img-full">
                            <span class="bg-hover"></span>
                            <div class="content">
                                <div class="link">CR Construções e Reformas</div>
                                <div class="title">Reforma de fachada</div>
                            </div>
                            <a href="?p=galeria" class="readmore-icons">
                                <i class="icons flaticon-bleed"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-image-gallery">
                            <img src="img/_galeria/8.jpg" alt="" class="img-full">
                            <span class="bg-hover"></span>
                            <div class="content">
                                <div class="link">CR Construções e Reformas</div>
                                <div class="title">Reforma de fachada</div>
                            </div>
                            <a href="?p=galeria" class="readmore-icons">
                                <i class="icons flaticon-bleed"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        
    </section>
</div>